.custom-btn {
  border: 0;
  background: transparent;
  transition: all 0.125s ease;
  // height: 40px;
  // padding: 0 14px;
  // border-radius: 12px;
  margin-left: 30px;
  height: 30px;
}

.text-8px {
  transform: scale(0.8);
  margin-top: -4px;
  margin-left: -2px;
}

.experience {
  position: absolute;
  bottom: -11px;
  left: 30px;
  display: flex;
  align-items: center;
  .experience-text {
    width: 22px;
    height: 20px;
    border: 2px solid #402209;
    background-color: #ffefd7;
    border-radius: 22px;
  }
  .experience-box {
    width: 72px;
    height: 7px;
    background-color: #ffefd7;
    border-radius: 10px;
    border: 2px solid #402209;
    margin-left: -8px;
    box-sizing: border-box;

    .experience-line {
      height: 100%;
      background-color: #f5b300;
    }
  }
}
