.market {
  background-color: #ddb58a;
  height: 100vh;
  background-image: url("@/assets/bakeground/market_bk.png");
  background-size: 100% 100%;
  box-sizing: border-box;
  padding-top: 80px;
  // opacity: 0.4;

  .main {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    .metu-box {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .metu {
      width: 90%;
      display: flex;
      margin-top: 8px;
      .lang-btn {
        // box-sizing: border-box;
        // padding: 0 2px;
        margin-right: 8px;
        width: 113px;
        height: 34px;
        border: 3px solid #402209;
        border-radius: 9px;
        background: #d38f5b;
        .lang-shadow {
          background: #ffd28e;
          width: 100%;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          border-radius: 9px;
          font-size: 14px;
        }
      }
    }
    // margin-top: 20px;\

    .nav {
      width: 90%;
      height: 37px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50px;
      background: #b87340;
      box-shadow: inset -3px -3px 4px rgba(64, 34, 9, 0.25),
        inset 3px 3px 4px rgba(64, 34, 9, 0.25);
      border-radius: 9px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .type {
        text-align: center;
        width: 50%;
        color: #ffd28e;
        font-family: "Days One";
        cursor: pointer;
      }
      .outer-ring {
        background: #ecad66;
        border: 3px solid #402209;
        text-align: center;
        height: 100%;
        line-height: 37px;
        cursor: pointer;
        border-radius: 9px;
        .text {
          background: #ffd28e;
          height: 32px;
          border-radius: 9px;
          text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
            -1px -1px 0 #000;
          color: #ffffff;
        }
      }
    }
    .items {
      overflow-y: scroll;
      flex: 1;
      position: relative;
      width: 100%;
      padding: 10px 5% 100px;
      box-sizing: border-box;
    }
    .token-logo {
      position: absolute;
      bottom: 15px;
      left: 10px;
    }
    .price {
      position: absolute;
      bottom: 21px;
      left: 27px;
      width: 54px;
      height: 16px;
      text-align: center;
      background: rgba(236, 167, 86, 0.6);
      border-radius: 9px;
      font-family: "Days One";
      color: #402209;
      font-size: 13px;
      line-height: 17px;
      font-weight: 400;
    }
  }
}

.market-cat-detail {
  height: 100vh;
  background: #fcd8cd;
  line-height: 1;
  padding-bottom: 110px;
  box-sizing: border-box;
  overflow-y: auto;
  .detail-title {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 85px;
    font-size: 20px;
    color: #402209;
    .back {
      position: fixed;
      left: 8%;
      top: 7%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }
  }
  .detail-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background: #fcd8cd;

    .top-line-left {
      position: absolute;
      top: -100px;
      left: 70px;
      z-index: 10;
    }
    .top-line-right {
      position: absolute;
      top: -100px;
      right: 70px;
      z-index: 10;
    }
    .content-border1 {
      position: absolute;
      width: 317px;
      height: 317px;
      left: 49%;
      top: 0;
      transform: translateX(-50%);
      border-radius: 9px;
      border: 4px solid var(--unnamed, #402209);
      background: #ffe0b1;
      z-index: 2;
      overflow: hidden;
      box-sizing: border-box;
      .img-wrap {
        width: 100%;
        height: 100%;
        background-image: url("@/assets/bakeground/knapsack-bg.png");
        background-size: 100% 100%;
        border-bottom: 3px solid #402209;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .content-border2 {
      padding-top: 300px;
      box-sizing: border-box;
      position: absolute;
      width: 317px;
      height: 430px;
      left: 51%;
      transform: translateX(-50%);
      top: 1%;
      border-radius: 9px;
      border: 4px solid var(--unnamed, #402209);
      background: #e2aa73;
    }

    .current-price {
      border: 4px solid #402209;
      background-color: #e2aa73;
      border-radius: 9px;
      height: 95px;
      width: 325px;
      margin-top: 470px;
      box-sizing: border-box;
      text-align: left;
      .wrap-sign {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        padding-left: 10px;
        padding-top: 14px;
        .sign-box {
          border: 3px solid #402209;
          width: 115px;
          height: 31px;
          border-radius: 16px;
          line-height: 25px;
          font-size: 18px;
          color: white;
          background-color: #e78442;
          text-align: center;
          padding-left: 10px;
          box-sizing: border-box;
        }
      }
    }
  }
}

.use-box {
  .back {
    position: fixed;
    left: 10%;
    top: 6%;
    transform: translate(-50%, -50%);
  }
  background-image: url("@/assets/bakeground/adopt-bg.png");
  background-size: 100% 100%;
  height: 100vh;
  box-sizing: border-box;
  .use-box-wrap {
    border: 3px solid #402209;
    background: #ffefd7;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .wrap-img {
      background-color: #ffe0b1;
      background-image: url("@/assets/bakeground/Subtract.png");
      background-size: 100% 100%;
    }
    .wrap-sign {
      height: 72px;
      border-top: 3px solid #402209;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      .sign-box {
        border: 3px solid #402209;
        width: 97px;
        height: 25px;
        border-radius: 16px;
        line-height: 25px;
        font-size: 18px;
        color: white;
        background-color: #e78442;
      }
    }
  }

  .use-btn {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.buy-modal {
  width: 295px;
  height: 364px;
  border-radius: 9px;
  border: 4px solid var(--unnamed, #402209);
  background: linear-gradient(0deg, #ffd28e 0%, #ffd28e 100%), #e2aa73;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .close-special-popup {
    position: absolute;
    top: -18px;
    right: -18px;
    z-index: 99999;
    cursor: pointer;
  }
  .detail-title {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
  }
  .modal-content {
    margin-top: 50px;
    width: 215px;
    height: 165px;
    border-radius: 9px;
    background: rgba(164, 69, 19, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
      color: #402209;
      font-size: 20px;
    }
  }
}

@media all and (min-width: 750px) {
  .market {
    height: 100%;
    border-radius: 4px;
  }
  .market-cat-detail {
    height: 100%;
  }
}
