.home{
    background-image: url('../../assets/bakeground/playNow.png');
    background-size: 100% 100%;
    height: 100vh;
    position: relative; 
    .header{
        top: 16px;
        left: 18px;
        position: absolute;
        height: 46px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        font-family: 'Days One';
        .avatar{
            height: 46px;
            width: 145px;
            background-image: url('../../assets/icon/avatar.png');
            background-size: 100% 100%;
            box-sizing: border-box;
            p{
                box-sizing: border-box;
                padding-left: 60px;
                text-align: left;
            }
        }
    }
    .cat{
        position: absolute;
        left: 61px;
        top: 350px;
        filter: drop-shadow(0px 2.8px 8.4px rgba(106, 59, 16, 0.25));
    }
    .menu{
        position:absolute;
        right: 20px;
        top: 260px;
        text-transform: uppercase;
        .menu-item{
            font-family: 'butter sans' !important;
        }
    }
}

.attibute-details-box{
    height: 100%;
    .main{
        background-image: url('../../assets/bakeground/attribute_box_bk.png');
        background-size: 100% 100%;
        width: 325px;
        height: 84%;
        margin: 0 auto;
        position: relative;
        .title{
            font-family: 'Days One';
            position: absolute;
            top: 20%;
            font-size: 16px;
            left: 50%; 
            transform: translate(-50%, -50%); 
        }
    }
    .attibutes{
        width: 317px;
        height: 14%;
        background: #FFE0B1;
        margin: 0 auto;
        // border-radius: 9px;
        margin-top: 3%;
        // padding: 4px;
      position: relative;
    }

    .attibutes::after{
        content: '';

        left: 0;
        bottom: -6px;
        position: absolute;
        width: 199px;
        height: 14.18px;
        left: 82px;
        top: 397.82px;
        background: blue;
        background: rgba(0, 0, 0, 0.8);
    }

    
}