.home{
    background-image: url('@/assets/bakeground/playNow.png');
    background-size: 100% 100%;
    height: 100vh;
    position: relative; 
    .header{
        top: 1.5%;
        left: 18px;
        position: absolute;
        height: 46px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        font-family: 'Days One';
        .avatar{
            height: 46px;
            width: 145px;
            background-image: url('@/assets/icon/avatar.png');
            background-size: 100% 100%;
            box-sizing: border-box;
            p{
                box-sizing: border-box;
                padding-left: 60px;
                text-align: left;
            }
        }
    }
    .life-attribute{
        width: 100%;
        height: 22%;
        position: absolute;
        top: 9%;
    }
    .cat{
        position: absolute;
        left: 61px;
        top: 350px;
        filter: drop-shadow(0px 2.8px 8.4px rgba(106, 59, 16, 0.25));
    }
    .menu{
        position:absolute;
        right: 20px;
        top: 260px;
        text-transform: uppercase;
        .menu-item{
            font-family: 'butter sans' !important;
        }
    }
}

.attibute-details-box{
    height: 100%;
    .main{
        background-image: url('@/assets/bakeground/attribute_box_bk.png');
        background-size: 100% 100%;
        width: 333px;
        height: 84%;
        margin: 0 auto;
        position: relative;
        
        .title{
            font-family: 'Days One';
            position: absolute;
            top: 20%;
            font-size: 16px;
            left: 50%; 
            transform: translate(-50%, -50%); 
        }
        .cat{
            width: 74%;
            position: absolute;
            top: 51%;
            left: 50%; 
            transform: translate(-50%, -50%); 
        }
        .name{
            display: flex;
            align-items: center;
            position: absolute;
            top: 85%;
            left: 41%; 
            transform: translate(-50%, -50%); 
            font-family: 'Days One';
            font-size: 28px;
        }
    
    }
    .attibutes{
        width: 325px;
        height: 13%;
        margin: 0 auto;
        margin-top: 3%;
        border-radius: 9px;
        box-sizing: border-box;
        border: 4px solid #402209;
        margin-right: 22px;
        .btn{
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 5%;
            border-radius: 9px;
        }
    }
   
    .btn{
        height: 94%;
        width: 100%;
        background-color: #FFE0B1;
        box-shadow: 0px 5px 0px 0px #E2AA73;
    }
    
}


.attibute_list{
    position: absolute;
    top: 94%;
    width: 293px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 51%; 
    transform: translate(-50%, -50%); 
}