.home{
    background-image: url('@/assets/bakeground/playNow.png');
    background-size: 100% 100%;
    height: 100vh;
    position: relative; 
    .header{
        top: 1.5%;
        left: 18px;
        position: absolute;
        height: 46px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        font-family: 'Days One';
        .avatar{
            height: 46px;
            width: 145px;
            background-image: url('@/assets/icon/avatar.png');
            background-size: 100% 100%;
            box-sizing: border-box;
            p{
                box-sizing: border-box;
                padding-left: 60px;
                text-align: left;
            }
        }
    }
    .life-attribute{
        width: 100%;
        height: 22%;
        position: absolute;
        top: 9%;
    }
    .cat{
        position: absolute;
        left: 61px;
        top: 350px;
        filter: drop-shadow(0px 2.8px 8.4px rgba(106, 59, 16, 0.25));
    }
    .menu{
        position:fixed;
        right: 20px;
        top: 260px;
        text-transform: uppercase;
        .menu-item{
            font-family: 'butter sans' !important;
        }
    }
}

.attibute-details-popup{
    height: 100%;
    .main{
        background-image: url('@/assets/bakeground/attribute_box_bk.png');
        background-size: 100% 100%;
        width: 333px;
        height: 84%;
        margin: 0 auto;
        position: relative;
        
        .title{
            font-family: 'Days One';
            position: absolute;
            top: 20%;
            font-size: 16px;
            left: 50%; 
            transform: translate(-50%, -50%); 
        }
        .cat{
            width: 74%;
            position: absolute;
            top: 51%;
            left: 50%; 
            transform: translate(-50%, -50%); 
        }
        .name{
            width: 289px;
            display: flex;
            align-items: center;
            position: absolute;
            top: 85%;
            left: 52%; 
            transform: translate(-50%, -50%); 
            font-family: 'Days One';
            font-size: 28px;
        }
    
    }
    .attibutes{
        width: 323px;
        position: absolute;
        height: 13%;
        top: 92%;
        left: 51%; 
        transform: translate(-50%, -50%); 
        border-radius: 9px;
        box-sizing: border-box;
        border: 4px solid #402209;
        .btn{
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 5%;
            border-radius: 9px;
            height: 94%;
            width: 100%;
            background-color: #FFE0B1;
        }
    }
    .attibute_list{
        position: absolute;
        top: 94%;
        width: 289px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        left: 52%; 
        transform: translate(-50%, -50%); 
    }
}



.user-info-popup{
    width: 295px;
    height: 100%;
    background-image: url('@/assets/bakeground/user_info_popup_bk.png');
    background-size: 100% 100%;
    margin: 0 auto;
    position: relative;
    .close{
        position: absolute;
        right: -10px;
        top: 32%;
    }
    span{
        font-family: 'Days One';
        font-size: 16px;
        position: absolute;
        left: 50%; 
        transform: translate(-50%, -50%); 
        top: 36%;
    }
    .user-info{
        position: absolute;
        left: 50%; 
        transform: translate(-50%, -50%); 
        top: 52%;
        width: 215px;
        height: 13%;
        margin: 0 auto;
        border-radius: 9px;
        box-sizing: border-box;
        border: 4px solid #402209;
        overflow: hidden;
        .shadow-cur{
            // box-sizing: border-box;
            display: flex;
            align-items: center;
            border-radius: 9px;
            height: 93%;
            width: 100%;
            background-color: #FFE0B1;
        }
        .avater{
            margin:0 5%
        }
        .info{
            p{
                display: flex;
                align-items: center;
                line-height: 18px;
            }
        }
    
    }
    .balance{
        position: absolute;
        left: 50%; 
        transform: translate(-50%, -50%); 
        top: 77%;
        width: 215px;
        height: 31%;
        background: rgba(164, 69, 19, 0.2);
        border-radius: 9px;
        box-sizing: border-box;
        padding-top: 24px;
        div{
            width: 78%;
            height: 45px;
            text-align: center;
            font-size: 14px;
            margin: 0 auto;
            background-size:100% 100%;
            line-height: 50px;
            margin-bottom: 12px;
            box-sizing: border-box;
            padding-left: 30px;
        }
    }
}
.share-popup{

    width: 295px;
    height: 298px;
    background: linear-gradient(0deg, #FFD28E, #FFD28E), #E2AA73;
    border: 4px solid #402209;
    border-radius: 9px;
    margin: 0 auto;
    position: relative;

    top:25%;
   
    .close{
        position: absolute;
        right: -14px;
        top: -20px;
    }
    .outer-ring:first-child{
        margin: 0 auto;
        margin-top: -20px;
    }

    .share-btns{
        position: absolute;
        left: 50%; 
        transform: translate(-50%, -50%); 
        top: 63%;
        .outer-ring{
            margin-bottom: 22px;
        }
        // margin-top: 20px;
    }

}

.login-popup{
    width: 295px;
    height: 611px;
    background-image: url('@/assets/bakeground/login_box.png');
    background-size: 100% 100%;
    margin: 0 auto;
    position: relative;
    .title{
        position: absolute;
        top: 222px;
        left: 50%; 
        transform: translate(-50%, -50%); 
        font-size: 16px;
    }
    .close{
        position: absolute;
        right: -10px;
        top: 202px;
    }
    .tab{
        width: 215px;
        height: 37px;
        position: absolute;
        left: 50%; 
        transform: translate(-50%, -50%); 
        top: 302px;
        background: #B87340;
        box-shadow: inset -3px -3px 4px rgba(64, 34, 9, 0.25), inset 3px 3px 4px rgba(64, 34, 9, 0.25);
        border-radius: 9px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .type{
            text-align: center;
            width: 50%;
            color: #FFD28E;
            font-family: 'Days One';
            
        }
        .outer-ring{
            background:#ECAD66;
            border: 3px solid #402209;
            text-align: center;
            height: 100%;
            line-height: 37px;
            .text{
                background: #FFD28E;
                height: 32px;
                border-radius: 9px;
                text-shadow: -1px 1px 0 #000, 1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
                color: #ffffff;
            }
        }
    }

    .input-email{
        position: absolute;
        left: 50%; 
        transform: translate(-50%, -50%); 
        input{
            width: 247px;
            height: 50px;
            outline: none;
            background: #EDB675;
            border: 4px solid #402209;
            border-radius: 14px;
            color: #402209;
            font-size: 16px;
            padding-left: 12px;
            box-sizing: border-box;
            &::placeholder {
                color: #BB7A3A;
            }
        }
        .code{
            position: absolute;
            top: 20%;
            right: 10px;
            background: #C88F71;

            border: 3px solid #402209;
            border-radius: 9px;
            // padding: 0 5px;
            box-sizing: border-box;
            width: 68px;
            height: 32px;
            text-align: center;
           
            span{
                width: 100%;
                height: 22px;
                display: inherit;
                background:#DDA077;
                opacity: 0.8;
                font-size: 12px;
                line-height: 26px;
                text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
                color: #FFFFFF;
                border-radius:9px;
                text-shadow: -1px 1px 0 #000, 1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
            }
        }
    }
    .status{
        width: 215px;
        height: 165px;
        left:50%;
        top: 62%; 
        transform: translate(-50%, -50%); 
        background: rgba(164, 69, 19, 0.2);
        border-radius: 9px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center; /* 垂直居中 */
        flex-direction: column;
        font-size: 20px;
        color:#402209;
    }
    .btn{
        width: 247px;
        height: 61px;
        position: absolute;
        left: 50%; 
        transform: translate(-50%, -50%); 
        bottom: 4%;
        background:#BECB6F;
        border: 3px solid #402209;
        text-align: center;
        line-height: 51px;
        box-sizing: border-box;
        border-radius: 20px;
        .text{
            background: #D6E66F;
            height: 51px;
            opacity: 0.8;
            border-radius: 20px;
            text-shadow: -1px 1px 0 #000, 1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
            // -webkit-text-stroke:3px #402209;
            color: #ffffff;
            font-size: 26px;
        }
    }
    .wallet-conncet{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left:50%;
        top: 65%; 
        transform: translate(-50%, -50%); 
        font-size: 20px;
        font-family: 'Days One';
        color: #402209;
        img{
            margin-right: 7px;
        }
    }

}

.set-popup{
  
    .btn{
        width: 247px;
        height: 61px;
        position: absolute;
        left: 50%; 
        transform: translate(-50%, -50%); 
        bottom: 4%;
        background:#BECB6F;
        border: 3px solid #402209;
        text-align: center;
        line-height: 51px;
        box-sizing: border-box;
        border-radius: 20px;
        .text{
            background: #D6E66F;
            height: 51px;
            opacity: 0.8;
            border-radius: 20px;
            text-shadow: -1px 1px 0 #000, 1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
            // -webkit-text-stroke:3px #402209;
            color: #ffffff;
            font-size: 26px;
        }
    }

 
    .btn{
        width: 149px;
        height: 40px;
        position: absolute;
        left: 50%; 
        transform: translate(-50%, -50%); 
        bottom: 4%;
        border: 3px solid #402209;
        border-radius: 14px;
        background-color:#A02424;
        .text{
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 14px;
            font-size: 16px;
            background: linear-gradient(0deg, #D64F4F, #D64F4F), #BAD60F;
        }
    }

    .switch{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 247px;
        margin: 0 auto;
        position: relative;
        .music-logo{
            position: absolute;
            transition: transform 0.3s ease;
            right: 90px;
        }
        .switch-btn{
            width: 120px;
            height: 24px;
            border: 3px solid #402209;
            border-radius: 14px;
            .shadow{
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 14px;
                font-size: 16px;
            }
        }
        .lang-btn{
            width: 120px;
            height: 34px;
            border: 3px solid #402209;
            border-radius: 14px;
            background: #D38F5B;
            .lang-shadow{
                background: #FFD28E;
                width: 100%;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                border-radius: 14px;
                font-size: 16px;
            }
        }
    }
   
}
