.custom-btn {
  border: 3px solid #402209;
  background: #ffefd7;
  transition: all 0.125s ease;
  height: 40px;
  padding: 0 14px;
  border-radius: 12px;

  &:hover {
    transform: scale(1.05);
    border: 3px solid #402209;
  }
}
