.attibute{
    display: flex;
    align-items: center;
}
.small{
  
    height: 40px;
    justify-content: center;
    place-items: center;
 
   img{
    margin-right: 60%;
   }
}
.attibute-status{
    background: #FFE0B1;
    /* 边 */
    border: 2px solid #402209;
    border-radius: 0px 20px 20px 0px;
    overflow: hidden;
    height: 100%;
    span{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Days One';
    }
}