.footer{
    height: 90px;
    background-image: url('../../assets/bakeground/footer.png');
    background-size:cover;
    position: fixed;
    bottom: 0;
    // top: 50px;
    width: 100%;
    ul{
        position: relative;
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        bottom:3px;
        li{
            font-size: 12px;
            font-family: 'butter sans';
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img:first-child{
               position: absolute;
               top: 0px;
               width: 45px;
               z-index: 100;
            }
            .base-cur{
                position: absolute;
                display: none;
            }
            span{
                margin-top: 40px;
                z-index: 100;
            }
        }
        li:first-child{
            top: 10px;
            transform: rotate(-6deg);
        }
        li:nth-child(2){
            transform: rotate(-2deg);
        }
        li:nth-child(3){
            transform: rotate(2deg);
        }
        li:last-child{
            top: 10px;
            transform: rotate(6deg);
        }
        .li-cur{
            font-size: 16px;
            img:first-child{
                top: -15px;
                width: 70px;
             }
            .base-cur{
                top: 10px;
                display: block;
            }
            span{
                margin-top: 48px;
            }
        }
    }
}

.welcome, .fake-box{
    display: none;
}

@media all and (min-width: 1000px) {
    .footer{
        width: calc( 100% - 34px );
        height: auto;
        padding: 6px 12px;
        background-image: none;
        background-color: #966E46;
        border: 5px solid #402209;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        .welcome{
            position: absolute;
            left: 6px;
            width: 100%;
            display: block;
            font-family: 'butter sans';
            font-weight: 600;
            font-size: 34px;
            color: #402209;
            -webkit-text-stroke: 2px #FFFFFF; /* 使用-webkit-text-stroke属性添加描边效果，可以调整描边的宽度和颜色 */
            z-index: 1; /* 确保文字位于边框之上 */

        }
        ul{
            width: auto;
            bottom: 0;
            justify-content: flex-end;
            li{
                z-index: 999;
                margin-left: 14%;
                cursor: pointer;
                animation: tada 1s;
                &:active{
                    animation: none;
                }
            }
            .li-cur{
                img:first-child{
                    top: 0;
                    width: 70px;
                 }
                span{
                    margin-top: 46px!important;
                }
            }
        }
    }
    .footer ul li:first-child,.footer ul li:nth-child(2),.footer ul li:nth-child(3),.footer ul li:last-child,.footer ul .li-cur img:first-child{
        top: 0;
        transform: rotate(0);
        img{
            width: 46px!important;
        }
    }
    .footer ul .li-cur .base-cur{
        display: none!important;
    }
    .footer ul .li-cur span,.footer ul li{
        margin-top: 0;
        font-size: 12px!important;
        span{
            margin-top: 46px;
        }
    }
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1)
    }
    10%, 20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
    }
    30%, 50%, 70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }
    40%, 60%, 80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }
    to {
        transform: scale3d(1, 1, 1)
    }
}