.market-item {
  width: 159px;
  height: 185px;
  background: #ffd28e;
  border: 3px solid #402209;
  border-radius: 17px;
  display: flex;
  // justify-content: center;
  align-items: center; /* 垂直居中 */
  flex-direction: column;
  margin-bottom: 10px;
  padding-top: 7px;
  box-sizing: border-box;
  .top {
    width: 135px;
    height: 122px;
    background: #ffefd7;
    border: 2.5px solid #402209;
    border-radius: 9px;
    box-sizing: border-box;
    // padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .bottom {
    margin-top: 5px;
    width: 135px;
    // margin-top: 8px;
    font-family: "Days One";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #402209;
    text-align: left;
    padding-left: 10px;
    span:nth-child(2) {
      opacity: 0.6;
      margin-left: 3px;
    }
  }
}
